# Linux kernel build system
*.o
*.o.d
*.ko
*cmd
*.dwo
*.swp
*.symvers
*.mod
*.mod.c
modules.order

# User applications
examples/other/.qemu-env
examples/other/*.d
examples/other/cat_nonblock
examples/other/userspace_ioctl


# LaTeX
_minted-lkmpg
_minted
*.aux
*.log
*.out
lkmpg.pdf
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
lkmpg.synctex.gz

# make4ht
*.html
*.svg
*.tmp
*.css
*.4ct
*.4tc
*.dvi
*.lg
*.idv
*.xref
*.ttf
*.png

# format checks
expected-format

# devtools build cache and local overrides
devtools/.cache/
devtools/config.local
