# Linux kernel build system
*.o
*.ko
*cmd
*.swp
*.symvers
*.mod
*.mod.c
modules.order

# LaTeX
_minted-lkmpg
*.aux
*.log
*.out
lkmpg.pdf
*.toc

# make4ht
*.html
*.svg 
*.tmp
*.css 
*.4ct 
*.4tc 
*.dvi 
*.lg 
*.idv
*.xref
